{% macro render_cart(cart_data, mutable) -%}
  <div id="cart-view">
    {% if cart_data == None or cart_data['products']|length == 0 %}
      Cart is empty
    {% else %}
      <table>
        
        <thead>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          {% if mutable %}
            <th>Remove</th>
          {% endif %}
        </thead>

        {% for id, item in cart_data['products'].items() %}
          <tr data-id="{{ id }}" class="cart-item">
            <td class="cart-name">{{ item.name }}</td>
            <td class="cart-price">{{ item.price }}</td>
            {% if mutable %}
              <td><input class="cart-qty" type="number" value="{{ item.quantity }}"></td>
            {% else %}
              <td class="cart-qty">{{ item.quantity }}</td>
            {% endif %}
            <td class="cart-subtotal">{{ item.subtotal }}</td>
            {% if mutable %}
              <td><a href="{{ url_for('cart.delete', product=id) }}">[x]</a><td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
{%- endmacro %}