{% from 'cart/_macros.html' import render_cart %}
{{ render_cart(cart_data, True) }}
<script src="{{ url_for('cart.static', filename='cart.js') }}"></script>
<a href="{{ url_for('checkout.start') }}">Go to checkout</a>