<form method="POST" action="{{ gateway_url }}">
  <label for="paymentMethod">Card Type</label>
  <select name="paymentMethod">
    <option value="V">Visa</option>
    <option value="M">MasterCard</option>
    <option value="maestroUK">Maestro UK/Solo</option>
  </select>
  
  <label for="cardnumber">Card Number</label>
  <input type="text" name="cardnumber" placeholder="XXXXXXXXXXXXXXXX" maxlength="19" size="19">  
    
  <label for="cc_name">Cardholder's Name (as on card)</label>
  <input type="text" name="bname" placeholder="Holder's name">
  
  <label for="expmonth">Expiry Month (mm)</label>
  <input type="text" name="expmonth" placeholder="00">
      
  <label for="expyear">Expiry Year (yyyy)</label>
  <input type="text" name="expyear" placeholder="0000">
      
  <label for="cvm">Card Validation Code</label>
  <input type="text" name="cvm" placeholder="XXX" maxlength="3" size="3">
    
  {% for name, attr in attributes %}
    <input type="hidden" name="{{ name }}" value="{{ attr }}">
  {% endfor %}

  <input type="submit" value="Pay!">
</form>