{{ product_model.name }}<br>
{{ images[1].path }}
{{ product_model.net_format_price(locale.currency_id, locale.country_id) }}<br>
<a href="{{ url_for('cart.add', product=product_model.id, quantity=1) }}">Add to cart</a>
