<h1>{{ product_type.name }}</h1>

<div id="product-info">
{% include 'product/_model_view.html' %}
</div>

<div id="attr">
{% for attr in product_attributes %}
    <label>{{ attr.name }}:</label>
    <select data-name="{{ attr.name }}">
    {% for item in attr[1] %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
    </select>
{% endfor %}
</div>
<script>
/*var attribute_list = {};

$("#attr select").each(function(index, e) { 
    attribute_list[$(e).attr("data-name")] = $(e).val(); 
});

$.post(
    '{{ url_for('product.update_product') }}',
    { 'attributes': JSON.stringify(attribute_list), 'type_id': {{ product_type.id}} },
    function(data) {
        $("#product-info").html(data);
    }
);

*/

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

