{% macro checkout_input(item) -%}
    {{ item.label }} {{ item }}
    {% if item.errors %}
        <ul>{% for error in item.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
{%- endmacro %}
