{% from 'checkout/_macros.html' import checkout_input as input %}

<form method="POST" action="{{ url_for('checkout.billing') }}">
  {{ form.csrf_token }}
  <div>{{ input(form.title) }}</div>
  <div>{{ input(form.first_name) }}</div>
  <div>{{ input(form.last_name) }}</div>
  <div>{{ input(form.address_line_1) }}</div>
  <div>{{ input(form.address_line_2) }}</div>
  <div>{{ input(form.address_line_3) }}</div>
  <div>{{ input(form.address_town) }}</div>
  <div>{{ input(form.address_county) }}</div>
  <div>{{ input(form.address_postcode) }}</div>
  <div>{{ input(form.address_country) }}</div>
  <div>{{ input(form.email) }}</div>
  
  {% if action == 'register' %}
  <div>{{ input(form.password) }}</div>
  <div>{{ input(form.confirm_password) }}</div>
  {% endif %}

  <div>{{ input(form.tos) }}</div>
  <input type="submit" value="Go!">
</form>
