{% from 'cart/_macros.html' import render_cart %}
<h1>Confirm</h1>
<form method="POST" action="{{ url_for('checkout.confirm') }}">
  {{ render_cart(cart, False) }}
  {{ form.csrf_data }}
  {{ form.confirm }}
  {{ form.back }}
</form>