{% from 'checkout/_macros.html' import checkout_input as input %}

<form method="POST" action="{{ url_for('checkout.delivery') }}">
  {{ form.csrf_token }}
  <div>{{ input(form.same_address) }}</div>
  <div>{{ input(form.title) }}</div>
  <div>{{ input(form.first_name) }}</div>
  <div>{{ input(form.last_name) }}</div>
  <div>{{ input(form.address_line_1) }}</div>
  <div>{{ input(form.address_line_2) }}</div>
  <div>{{ input(form.address_line_3) }}</div>
  <div>{{ input(form.address_town) }}</div>
  <div>{{ input(form.address_county) }}</div>
  <div>{{ input(form.address_postcode) }}</div>
  <div>{{ input(form.address_country) }}</div>
  <input type="submit" value="Go!">
</form>
