<p>{{ order.billing_customer.title }}
{{ order.billing_customer.first_name }}
{{ order.billing_customer.last_name }}
{{ order.billing_address.line_1 }}
{{ order.billing_address.line_2 }}
{{ order.billing_address.line_3 }}
{{ order.billing_address.town.name }}
{{ order.billing_address.county.name }}
{{ order.billing_address.postcode }}
{{ order.billing_address.country.name }}</p>

<p>
{{ order.delivery_first_name }}
{{ order.delivery_last_name }}
{{ order.delivery_address.line_1 }}
{{ order.delivery_address.line_2 }}
{{ order.delivery_address.line_3 }}
{{ order.delivery_address.town.name }}
{{ order.delivery_address.county.name }}
{{ order.delivery_address.postcode }}
{{ order.delivery_address.country.name }}
</p>

{% for model in order.models %}
<p>{{ model.model.name }} - {{ model.product_qty }} - {{ model.price_currency.symbol }}{{ model.price }} - {{ model.price_currency.symbol }}{{ model.subtotal }}</p>
{% endfor %}
<p>{{ order.shipping_method.name }} - 1 - {{ order.shipping_method.price_currency.symbol }}{{ order.shipping_method.net_price(order.price_currency_id, order.delivery_address.country_id) }} - {{ order.shipping_method.price_currency.symbol }}{{ order.shipping_method.price }}
</p>

<p>{{ order.price_currency.symbol }}{{ order.price }}</p>