{% from 'checkout/_macros.html' import checkout_input as input %}

<form method="POST" action="{{ url_for('checkout.method') }}"> 
  {{ form.csrf_token }}
  <div>{{ input(form.method) }}</div>
  <input type="submit" value="Go!">
</form>
