{% from 'checkout/_macros.html' import checkout_input as input %}

<form method="POST" action="{{ url_for('checkout.start') }}">
  {{ login_form.csrf_token }}
  <div>{{ input(login_form.email) }}</div>
  <div>{{ input(login_form.password) }}</div>
  <div>{{ input(login_form.remember) }}</div>
  {{ login_form.submit }}
</form>

<form method="POST" action="{{ url_for('checkout.start') }}">
  {{ choice_form.csrf_token }}
  <div>{{ input(choice_form.choice) }}</div>
  {{ choice_form.submit }}
</form>