{% from '_macros.html' import user_input as input %}
<form method="POST" action="{{ url_for('login.login') }}">
  {{ form.csrf_token }}
  <div>{{ input(form.email) }}</div>
  <div>{{ input(form.password) }}</div>
  <div>{{ input(form.remember) }}</div>
  <input type="submit" value="Login">
</form>
