{% from '_macros.html' import user_input as input %}
<form method="POST" action="{{ url_for('register.register') }}">
  {{ form.csrf_token }}
  <div>{{ input(form.email) }}</div>
  <div>{{ input(form.password) }}</div>
  <div>{{ input(form.confirm) }}</div>
  <div>{{ input(form.accept_tos) }}</div>
  <input type="submit" value="Login">
</form>
